@{
    ViewData["Title"] = "Data form";
}

@section Scripts{
    <script src="~/js/tableFilingScript.js"></script>
}

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <div class="px-3 pt-2 min-vh-100">
        <ul class="nav nav-pills flex-column mb-auto" id="menuItems">
            <li class="nav-item">
                <a class="nav-link text-white px-0" asp-action="Index" asp-controller="Order">Orders</a>
            </li>
            <li>
                <a class="nav-link text-white px-0" asp-action="Index" asp-controller="Client">Clients</a>
            </li>
            <li>
                <a class="nav-link text-white px-0" asp-action="Index" asp-controller="Manager">Managers</a>
            </li>
            <li>
                <a class="nav-link text-white px-0" asp-action="Index" asp-controller="Item">Items</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-9">
    <div id="dataDiv"></div>
</div>
