@model OnlineShop.OnlineClient.Pagination.Models.PaginationModel<OnlineShop.BusinessLogic.Models.ItemModel>
@using OnlineShop.OnlineClient.App_Code
@{
    ViewData["Title"] = "Items list";
}

<div class="ml-5 mt-5">
    <h3>Items List</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>№</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div>
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Items", new {page = x}))
    </div>
</div>
