@model OnlineShop.BusinessLogic.Models.OrderModel
@{
    ViewData["Title"] = "Edit model";
}

<div class="m-5">
    <h3>Order editing</h3>
    <div class="ml-5 mt-5">
        <form asp-action="Save" asp-controller="Order">
            <input type="hidden" asp-for="OrderId" />
            <div class="row g-3 align-items-center mb-4">
                <div class="col-sm-3">
                    <label class="col-form-label" asp-for="Date">Date</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Date" type="text" />
                </div>
            </div>
            <div class="row g-3 align-items-center mb-4">
                <div class="col-sm-3">
                    <label class="col-form-label" asp-for="Manager">Manager</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Manager" type="text" />
                </div>
            </div>
            <div class="row g-3 align-items-center mb-4">
                <div class="col-sm-3">
                    <label class="col-form-label" asp-for="Client">Client</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Client" type="text" />
                </div>
            </div>
            <div class="row g-3 align-items-center mb-4">
                <div class="col-sm-3">
                    <label class="col-form-label" asp-for="Item">Item</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Item" type="text" />
                </div>
            </div>
            <div class="row g-3 align-items-center mb-4">
                <div class="col-sm-3">
                    <label class="col-form-label" asp-for="AmountOfMoney">Price</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="AmountOfMoney" type="text" />
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
