@model OnlineShop.BusinessLogic.Models.ManagerModel

<div class="m-5">
    <h3>Manager editing</h3>
    <div class="ml-5 mt-5">
        <form asp-action="Save" asp-controller="Manager" method="post">
            <input type="hidden" asp-for="ManagerId" />
            <div class="row g-3 align-items-center mb-4">
                <div class="col-auto">
                    <label class="col-form-label" asp-for="Surname">Surname</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Surname" type="text" />
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
