@model OnlineShop.OnlineClient.Identity.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                <form class="form" asp-action="ChangePassword" asp-controller="User" asp-antiforgery="true">
                    <div class="was-validated" asp-validation-summary=All></div>
                    <h3 class="text-center text-info">Change password</h3>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id"/>
                        <input type="hidden" asp-for="Email"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="text-info">New password</label><br />
                        <input type="text" asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-md" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
