@{
    ViewData["Title"] = "About";
}

<div class="border-info m-3">
    <h4>Система отображения статистики продаж.</h4>
    <ul>
        <li>
            <p>
                приложение читает данные о продажах из базы и отображает их в виде, удобном для анализа.
                Должны быть созданы контроллеры, представления и модели представлений для каждой сущности.
                Должны быть реализована возможность фильтрации как минимум по двух свойствам для каждой из сущностей.
            </p>
        </li>
        <li>
            <p>
                в системе должна присутствовать аутентификация пользователей. Должны существовать две роли – простой пользователь и администратор.
                Пользователь может только просматривать данные, не имеет права ничего редактировать. Администратор может изменять записи в базе данных.
            </p>
        </li>
        <li>
            <p>
                интерфейс для вывода информации продумать и реализовать самостоятельно (приветствуется использование JavaScript фреймфорков).
                Вывод информации в таблицы должен выполняться с помощью асинхронных AJAX запросов.
            </p>
        </li>
        <li>
            <p>
                обеспечить валидацию запросов на стороне клиента и сервера (проверка макс. длины, типов данных, формат даты)
            </p>
        </li>
        <li>
            <p>
                желательно построение диаграмм на основании имеющихся данных, оси - произвольные. Виды диаграмм выбрать самостоятельно.
            </p>
        </li>
    </ul>
</div>
