<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/orderShopStyle.css" />
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">

            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link m-1 active" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a class="nav-link m-1" asp-action="About" asp-controller="Home">About</a>
                </li>
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="ml-auto mr-1">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <img src="~/user.png"/>
                                @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a class="btn btn-light btn-success ml-auto mr-1" asp-action="Login" asp-controller="Account">Login</a>
                <a class="btn btn-info" asp-action="Register" asp-controller="Account">Sign up</a>
            }
        </nav>
    </header>
    <main>
        <div class="container body-content row">
            @RenderBody()
        </div>
    </main>
    <footer class="text-center text-white bg-dark">
        <hr class="footerDivider" />
        <div class="container"></div>
        <div class="text-left text-white pb-3 pl-5">© 2022 Online Shop</div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
